# core scientific / EDA stack
pandas
numpy
matplotlib
seaborn

# Jupyter environment
jupyterlab
ipywidgets

# search / tools
duckduckgo-search
mcp

# LLM + LangChain + Langsmith + vector store
langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-huggingface
langchain-ollama
langchain-openai
langsmith
chromadb
sentence-transformers
transformers
huggingface-hub
ollama

#V100 torch compatibility
torch==2.5.1
